article p{
    background: rgb(187, 132, 238);
    color: white;
    padding: 20px;
}

article > p{
    background: plum;
}

article ~ p{
    background: rgb(132, 209, 180);
    color: white;
    padding: 20px;
}

article + p{
    background: rgb(238, 238, 120);
}

form{
   margin-top: 20px;
}

input:invalid{
    border: 2px solid red;
}

span:first-of-type{
    background: rgb(97, 155, 241);
    color: white;
    padding: 10px;
}

div{
    opacity: 0.5;
}