body{
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

body{
    background-color: rgb(255, 157, 77);
}

h1{
    color: white;
    text-align: center;
}

h2{
    color:white;
    text-align: center;
}

.service{
    text-align: center;
}

.service h2{
    color: rgb(111, 255, 75);
}

.service pre h3{
    color: white;
}

